.loginPopUpBg{
    width: 100%;
    height: 100%;
    z-index: 500;
    background-color: #000000;
    position: fixed;
    top: 0px;
    left: 0px;
    transition: 250ms;
    pointer-events: none;
    opacity: 0;
}
.loginPopUpBase{
    width: 100%;
    height: 100%;
    z-index: 505;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 250ms;
    pointer-events: none;
    opacity: 0;
}
.loginPopUp{
    width: 90%;
    height: 92%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f7f7f7;
    border-radius: 6px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginPopUpContent{
    width: 100%;
}
.loginPopUpTitle{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
    margin-bottom: 10px;
}
.loginPopUpSubtitle{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 12px;
    margin-top: 6px;
    margin-bottom: 24px;
}