.extensionPopUpBase{
    width: 360px;
    height: 446px;
    max-height: 446px;
    padding: 4px;
    padding-top: 60px;
    overflow: auto;
}
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-track {
    background: #f0f0f0; 
}
::-webkit-scrollbar-thumb {
    background: #747474; 
    border-radius: 4px;
}