.reviewButton{
    width: 32px;
    height: 32px;
    position: fixed;
    bottom: calc(12px + 4px + 32px + 4px + 32px);
    left: 4px;
    background-color: #000000;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reviewButton img{
    width: 73%;
    height: 73%;
    transform: translate(1px, -1px);
}